@import url(./__add-btn/profile__add-btn.css);
@import url(./__add-img/profile__add-img.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__avatar-btn/profile__avatar-btn.css);
@import url(./__avatar-img/profile__avatar-img.css);
@import url(./__info/profile__info.css);
@import url(./__edit-btn/profile__edit-btn.css);
@import url(./__edit-img/profile__edit-img.css);
@import url(./__explorer/profile__explorer.css);
@import url(./__title/profile__title.css);
.profile {
    max-width: calc(1280px - (200px*2));
    margin: 0 auto 50px auto;
    padding: 0;
    display: flex;
}

@media screen and (max-width: 1023px) {
    .profile {
        margin-bottom: 36px;
        max-width: calc(320px - (19px*2));
        display: block;
    }
}