@import url(./_img/profile__info_edit-btn_img.css);
.profile__info_edit-btn {
    border: 1px solid #FFF;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-top: 15px;
    padding: 0;
    display: flex;
    cursor: pointer;
    background-color: #000;
    transition: opacity 1s linear 0s;
}

.profile__info_edit-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .profile__info_edit-btn {
        width: 18px;
        height: 18px;
        margin-top: 0;
        margin-left: 10px;
    }
}