@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url(./Inter-Desktop/Inter-Regular.otf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url(./Inter-Desktop/Inter-Bold.otf);
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url(./Inter-Desktop/Inter-Black.otf);
}