.popup__close-btn {
    background-color: #000;
    position: absolute;
    cursor: pointer;
    border: none;
    width: 0px;
    height: 0px;
    top: -42px;
    right: 10px;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s linear 0s;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .popup__close-btn {
        top: -40px;
        right: 30px;
    }
}