.popup__close-btn {
    background-color: #000;
    position: fixed;
    cursor: pointer;
    border: none;
    width: 0px;
    height: 0px;
    margin-top: -40px;
    margin-left: 420px;
    padding: 0;
    transition: opacity 1s linear 0s;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .popup__close-btn {
        margin-top: -40px;
        margin-left: 250px;
    }
}