@import url(./_name-title/profile__info_name-title.css);
@import url(./_explorer/profile__info_explorer.css);
@import url(./_edit-btn/profile__info_edit-btn.css);
.profile__info {
    max-width: 415px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 22px 0 0 30px;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        max-width: 276px;
        margin: 30px 0 0 0;
        justify-content: center;
    }
}