@import url(./__close-btn/image__close-btn.css);
@import url(./__close-img/image__close-img.css);
.image {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    max-width: 75vw;
    max-height: 75vh;
    top: 0;
    left: 0;
    z-index: 1;
}