.profile__avatar-btn {
    position: relative;
    max-width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    border-radius: 60%;
    border: none;
    cursor: pointer;
    background-color: #000;
}

.profile__avatar-btn:hover>.profile__avatar {
    opacity: 0.3;
}

.profile__avatar-btn:hover>.profile__avatar-img {
    opacity: 1;
}

@media screen and (max-width: 1023px) {
    .profile__avatar-btn {
        margin: 0 auto 30px auto;
        display: block;
    }
}