.profile__info_explorer {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 16px;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .profile__info_explorer {
        width: 282px;
        text-align: center;
        font-size: 14px;
        margin-top: 14px;
        margin-bottom: 0;
    }
}